@import url("https://use.typekit.net/pdn5tls.css");

:root {
  --player0: #ff75a4;
  --player0darker: #f52269;
  --player0darkest: #db004a;
  --player1: #ff9800;
  --player1darker: #ff6a00;
  --player1darkest: #ff4700;
  --player2: #cddc39;
  --player2darker: #8bc34a;
  --player2darkest: #6faf26;
  --player3: #b083ff;
  --player3darker: #985dff;
  --player3darkest: #8138ff;

  --text-dark: #37384c;
  --text-light: #fff;

  --red: #FF6463;
  --reddarker: #f52269;
}

body {
  width: 100%;
  min-height: 100vh;
}

html {
  font-family: proxima-soft, sans-serif;
  background-color: #4158D0;
  background-image: linear-gradient(-43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html, * {
  box-sizing : border-box;
}

body {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.box {
  display: grid;
  place-items: center;
}

.card-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 64px;
  box-shadow: rgb(0 0 0 / 35%) 0px 0px 18px 0px;
}

.shadow {
  box-shadow: rgb(0 0 0 / 35%) 0px 0px 18px 0px;
}

#app {
  font-size: 20px;
  padding: 10px;
  height: 100%;
}

h2 {
  margin: 0;
}

button, .button {
  font-family: proxima-soft, sans-serif;
  color: #fff;
  background: #5CBA74;
  border-radius: 14px;
  outline: none;
  padding: 0.4rem 1rem;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  box-shadow: 0 7px 0px 0px #2E9947;
  display: inline-block;
  &.button-small {
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
  }
}

select {
  font-size: 24px;
  font-family: proxima-soft, sans-serif;
  font-weight: bold;
  border: none;
  background: white;
  border-radius: 12px;
  padding: 7px;
}

button:active, .button:active {
  transform: translateY(4px);
  box-shadow: 0 3px 0px 0px #2E9947;
}

.player0 {
  button, .button {
    box-shadow: 0 7px 0px 0px var(--player0darkest);
    background: var(--player0);
  }
}
.player1 {
  button, .button {
    color: var(--text-dark);
    box-shadow: 0 7px 0px 0px var(--player1darkest);
    background: var(--player1);
  }
}
.player2 {
  button, .button {
    color: var(--text-dark);
    box-shadow: 0 7px 0px 0px var(--player2darkest);
    background: var(--player2);
  }
}
.player3 {
  button, .button {
    color: var(--text-dark);
    box-shadow: 0 7px 0px 0px var(--player3darkest);
    background: var(--player3);
  }
}

button, .button {
  &.danger {
    box-shadow: 0 7px 0px 0px var(--reddarker);
    background: var(--red);
  }
}

button:active, .button:active {
  transform: translateY(4px);
  box-shadow: 0 3px 0px 0px #2E9947;
}

button[disabled], .button[disabled] {
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: default;
}

input {
  font-family: proxima-soft, sans-serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 14px;
  background: white;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}







.d-flex {
 display: flex;
}

.fd-col {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.red {
  color: var(--red);
}

.blue {
  color: #73ffee;
}

.yellow {
  color: #ffcc70;
}

.white {
  color: #fff;
}

svg {
  fill: currentColor;
}

.greyscale {
  filter: grayscale(90%);
  opacity: 0.7;
}

.text-center {
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
}

.card {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 64px;
  border: none;
  box-shadow: 0 12px 0px 0px #e7e7e7;
  &.no-stretch {
    width: unset;
    height: unset;
  }
}

.card-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-bold {
  font-weight: bold;
}

.text-caps {
  text-transform: uppercase;
}

@for $i from 0 through 500 {
  .text-#{$i} {
    font-size: #{$i}px !important;
  }
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .mtb-#{$i} {
    margin-bottom: #{$i}px !important;
    margin-top: #{$i}px !important;
  }
  .ml-#{$i} {
    margin-left: #{$i}px !important;
  }
  .mr-#{$i} {
    margin-right: #{$i}px !important;
  }
  .mlr-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  .m-#{$i} {
    margin: #{$i}px !important;
  }
  .pt-#{$i} {
    padding-top: #{$i}px !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .ptb-#{$i} {
    padding-bottom: #{$i}px !important;
    padding-top: #{$i}px !important;
  }
  .pl-#{$i} {
    padding-left: #{$i}px !important;
  }
  .pr-#{$i} {
    padding-right: #{$i}px !important;
  }
  .plr-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }
  .p-#{$i} {
    padding: #{$i}px !important;
  }
}

.view {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}